<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.PrivateImageViewPlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PrivateImageViewPlugin</name>
    <js-module src="www/privateimageview.js" name="privateimageview">
        <clobbers target="cordova.plugins.privateimageview" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PrivateImageView">
                <param name="ios-package" value="PrivateImageView" />
            </feature>
        </config-file>
        <source-file src="src/ios/PrivateImageView.m" />
        <header-file src="src/ios/PrivateImageView.h" />
    </platform>

</platform>
</plugin>
