<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="your.plugin.id"
        version="0.0.1">
    <name>PrivateImageViewPlugin</name>
    <description>Your plugin description here</description>
    <license>MIT</license>
    <keywords>cordova,plugin,private,image,view</keywords>

    <js-module src="www/privateImageView.js" name="privateImageView">
        <clobbers target="privateImageView" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PrivateImageViewPlugin">
                <param name="ios-package" value="PrivateImageViewPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/PrivateImageView.swift" />
        <source-file src="src/ios/PrivateImageViewPlugin.swift" />
    </platform>
</plugin>