<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.PrivateImageViewPlugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PrivateImageViewPlugin</name>
    <js-module name="PrivateImageViewPlugin" src="www/PrivateImageViewPlugin.js">
        <clobbers target="cordova.plugins.PrivateImageViewPlugin" />
    </js-module>
    <platform name="ios">
    <config-file parent="/*" target="config.xml">
        <feature name="PrivateImageViewPlugin">
            <param name="ios-package" value="PrivateImageViewPlugin" />
        </feature>
    </config-file>
    <header-file src="src/ios/PrivateImageViewPlugin.h" />
    <source-file src="src/ios/PrivateImageViewPlugin.m" />
    <header-file src="src/ios/PrivateImageView.h" />
    <source-file src="src/ios/PrivateImageView.m" />
    <framework src="AVFoundation.framework" />
    <framework src="UIKit.framework" />
</platform>
</plugin>
